<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
     <!-- <section>
        <%= render 'shared/event_post_form' %>
      </section>-->
    </aside>
    <div class="span8">
      <h3>Event Messages</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Group Up</h1>

    <h2>
      This is the home page for starting your own group and joining the exciting world of meetups and learning.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>