<% provide(:title, 'Edit Event') %>
<h1>Edit your event</h1>

<%= form_for(@event) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <section>
    <h3>Edit event information</h3>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :desc, text="Event Description" %>
    <%= f.text_area :desc, class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :event_host%>
    <%= f.text_field :event_host, class: "form-control" %>
  </div>

    <div class="form-group">
      <%= f.label :event_date%>
      <%= f.text_field :event_date, class: "form-control", placeholder: "YYYY-MM-DD" %>
    </div>

    <div class="form-group">
      <%= f.label :event_start_time%>
      <%= f.text_field :event_start_time, class: "form-control", placeholder:"HH:MM" %>
    </div>

    <div class="form-group">
      <%=f.label :snippet_image, text="Event Image" %><br>

      <div class="row">
      <% $event_snippets.each do |image| %>
          
          <div class="col-sm-1" style="text-align:center;">

              <%= image_tag "eventsnippets/#{image.split('/').last}", size:100 %>
            <br>
            <%= f.radio_button :snippet_image, image.split('/').last, :checked => (@event.snippet_image == image.split('/').last) %>


          </div>
      <% end %>
        </div>

    </div>
  </section>
    <section>
      <h3>Event location</h3>

      <div class="form-group">

      <%= f.label :addr, text="Address" %>
      <%=	 f.text_field :addr, class: "form-control"  %>
      </div>

        <div class="form-group">

      <%= f.label :street %>
      <%=	 f.text_field :street, class: "form-control"  %>
        </div>

      <div class="form-group">

      <%= f.label :city %>
      <%=	 f.text_field :city, class: "form-control"  %>
      </div>

      <div class="form-group">

      <%= f.label :state %>
      <%=	 f.text_field :state, class: "form-control"  %>
      </div>

      <div class="form-group">

      <%= f.label :zip %>
      <%=	 f.text_field :zip, class: "form-control"  %>
      </div>

    </section>

    <section>
      <h3>Event interests</h3>

      <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |cb| %>

        <div class="form-check">
        <%= cb.label(class: "form-check-label") {cb.check_box(class: "form-check-input") + cb.text} %>
        </div>

      <% end %>

    </section>


      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
