<% if signed_in? %>
  <div class="row">
   Hello, <%= current_user.name %>!  You might be interested in these events based on your interests:
  </div>
  <br>


  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <ul class="event-list">
        <%= render @events_for_you %>
      </ul>
    </div>
  </div>


  <%= link_to "View all upcoming events.", "events" %>

  <div class=" text-center">

        <%= link_to "Create a new event!", newevent_path,
                    class: "btn btn-large btn-primary" %>

  </div>

<% else %>
  <div class=" hero-unit">
    <h1>Welcome to Group Up</h1>

    <p class="lead">
      This is the home page for starting your own group and joining the exciting world of groups and meets.

    </p>




    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  <section>
    <h2 style="text-align:left;">Here are some upcoming events that you might like!</h2>
    <%= render 'shared/upcoming_events' %>
    <%= link_to "View all upcoming events.", "events" %>

  </section>

<% end %>


<h1>Find events by interest</h1>
<div class="row">

<%= render Tag.all %>
</div>