<% if signed_in? %>
  <div class="row">
   Hello, <%= current_user.name %>!  You might be interested in these events based on your interests:
  </div>

  <%= render 'shared/upcoming_events' %>

  <div class=" text-center">

        <%= link_to "Create a new event!", newevent_path,
                    class: "btn btn-large btn-primary" %>

  </div>

<% else %>
  <div class=" hero-unit">
    <h1>Welcome to Group Up</h1>

    <p class="lead">
      This is the home page for starting your own group and joining the exciting world of groups and meets.

    </p>

    <blockquote class="blockquote">
      <p class="mb-0">This site is the best thing that ever happenned to me. When I hosted an event here, I made lots of friends and was able to learn C++. </p>
      <footer class="blockquote-footer">Some random guy <cite title="Source Title">Off the street</cite></footer>
    </blockquote>


    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  <section>
    <h2 style="text-align:left;">Here are some upcoming events that you might like!</h2>
    <%= render 'shared/upcoming_events' %>
  </section>

<% end %>


<h1>Find events by interest</h1>
